.Pokemon {
  .Pokemon-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0;

    .Pokemon-gen {
      margin: 2vh 0;

      .Pokemon-number {
        display: block;
        text-align: center;
        margin: 0;
      }
    }

    .Pokemon-logo {
      width: 25%;
    }
  }

  .Pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50vw;
    margin: 0 auto;

    .Pokemon-cardContainer {
      cursor: pointer;

      .PokemonCard {
        height: 15vh;
        align-items: center;

        &:hover {
          background: rgb(228, 227, 227);
        }
      }
    }
  }
}
