.PokemonDetail {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  background-color: rgb(241, 238, 238);
  height: 100vh;

  .PokemonDetail-card {
    background-color: white;
    height: 20vh;
    width: 30vw;
  }
}
